extends layout
include mixins/drawingLegend

block content
  h1= title
  p Welcome to #{title}
  +drawingLegend("Page 1 of 3")(id="page1")
  +drawingLegend("Page 2 of 3")(id="page2")
  +drawingLegend("Page 3 of 3")(id="page3")
