extends layout
include mixins/drawingLegend

block content
  h1= title
  p Welcome to #{title}
  +drawingLegend('PDP1.5B608-2W1EX38-EX16R', "Page 1 of 3")(id="page1")
  +drawingLegend('PDP1.5B608-2W1EX38-EX16R', "Page 2 of 3")(id="page2")
  +drawingLegend('PDP1.5B608-2W1EX38-EX16R', "Page 3 of 3")(id="page3")
