extends layout
include mixins/drawingLegend
include mixins/sheetOne
include mixins/sheetOne48
include mixins/sheetOne64
include mixins/sheetOne80
include mixins/sheetOne96

include mixins/sheetTwo
include mixins/sheetThree
include mixins/sheetFour


block content
  h1= title
  p Welcome to #{title}
  each sheet, index in sheets
    +drawingLegend(sheet)(id=index)
      if index === 'sheet1'
        +sheetOne(sheet)
        +sheetOne96()
      if index === 'sheet2'
        +sheetTwo(sheet)
      if index === 'sheet3'
        +sheetThree(sheet)
      if index === 'sheet4'
        +sheetFour(sheet)