extends layout

block content
  #contents(style='margin-bottom:10rem')
    form#labelGenerator(action="/label", method="post")
      label(for="batten-Input") Choose a MEGABATTEN to add custom labels:
      br
      input#battenInput(list="battensData" name="batten-Input" placeHolder="Begin typing to filter list" style="min-width:350px; margin-bottom:6px; margin-top:6px" onfocus='this.value=""' )
      datalist#battensData
        each pn in partNumbersList 
          option(value=`${pn}`)
      br
      button(type="button" onclick="addLabels()" style="margin-top:6px") Add Label Sheet

    #formWrapper

  append scripts
    script(src='/javascripts/label.js')