doctype html
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js')
    script(src='/javascripts/exportPDF.js')

  body
    div(id='header')
      div(id='tabs')
        .tab
          a(href='http://www.thelightsource.com/products') Products
        .tab
          a(href='http://www.thelightsource.com/dealers') Dealers
        .tab
          a(href='http://www.thelightsource.com/resources') Resources
        .tab
          a(href='http://www.thelightsource.com/contact') Contact
        .tab.special
          a(href='http://www.thelightsource.com/office') Dealer Zone
      h1= pageTitle 

    block content
  
    
