extends layout

block content
  #contents(style='margin-bottom:10rem')
    form(action="/quote", method="post")
      br
      label(for="project-name") Project Name:
      br
      input(type="text", name="project-name" style="min-width:350px" reqruired)
      br
      br
      label(for="project-address") Project Address:
      br
      input#projectautocomplete(type="text", name="project-address" style="min-width:350px" onfocus="geolocate()" required)
      br
      br
      div(style='border-bottom: 1px solid lightgray')
      br
      br
      label(for="customer-name") Customer Name:
      br
      input#customerName(type="text", name="customer-name" style="min-width:350px" requried)
      br
      br
      label(for="customer-company") Customer Company:
      br
      input#customerCompany(type="text", name="customer-company" style="min-width:350px" required)
      br
      br
      label(for="customer-address") Customer Address:
      br
      input#customerautocomplete(type="text", name="customer-address" style="min-width:350px" required)
      br
      br
      div(style='border-bottom: 1px solid lightgray')
      br
      br
      label(for="contact-email") Contact Email:
      br
      input#contactEmail(type="text", name="contact-email" style="min-width:350px" required)
      br
      br
      label(for="contact-phone") Contact Phone Number:
      br
      input#contactPhone(type="text", name="contact-phone" style="min-width:350px" required)
      br
      br
      label(for="bid-job") Is this a bid job?
      select#yesBox(type="select" name="bid-job" required style="margin-left:6px")
        option(value="" selected)
        option(value="yes") Yes
        option(value="no") No
      br
      br
      div(style='border-bottom: 1px solid lightgray')
      br
      br
      label(for="batten-Input") Choose a MEGABATTEN to add to quote:
      br
      input#battenInput(list="battensData" name="batten-Input" placeHolder="Begin typing to filter list" style="min-width:350px; margin-bottom:6px; margin-top:6px" onfocus='this.value=""' )
      datalist#battensData
        each pn in partNumbersList 
          option(value=`${pn}`)
      br
      label(for="batten-Qty" style="") Qty: 
      select#battenQty(type="select" name="batten-Qty" required style="margin-left:6px" )
        - var n = 1;
        while n <= 100
          option(value=`${n}`)= `${n}`
          - n++
      label(for="clabeling" style="margin-left: 35px") Custom Labeling?
      select#clabeling(type="select" name="clabeling" style="margin-left:6px")
        option(value="" selected)
        option(value="yes") Yes
        option(value="no") No 
      br
      button(type="button" onclick="addBatten()" style="margin-top:6px") Add to quote 
      br
      br
      div(style="border-bottom: 1px solid black")
      br
      h3(style="") Quote Items:
      ul#battens
      input#submitButton(type='submit' value='Submit' disabled)
      //- button#submitButton(type="button" onclick="submitData()" style="margin-top:6px" disabled) Submit
        
      
      
  br
  br
  br
  br
  br
  br
  br
  br
  br
  append scripts
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAaRQQ-BRlZ85sUgNyrvfFNJxbc2_HPgds&libraries=places&callback=initAutocomplete' async='' defer='')
    script(src='/javascripts/quote.js')