extends layout

block content
  #contents(style='margin-bottom:10rem')
    form(action="/quote", method="post")
      label(for="project-name") Project Name:
      br
      input(type="text", name="project-name" reqruired)
      br
      br
      label(for="project-address") Project Address:
      br
      input#projectAddress(type="text", name="project-address" reqruied)
      br
      br
      label(for="customer-name") Customer Name:
      br
      input#customerName(type="text", name="customer-name" requried)
      br
      br
      label(for="customer-company") Customer Company:
      br
      input#customerCompany(type="text", name="customer-company" required)
      br
      br
      label(for="customer-address") Customer Address:
      br
      input#customerAddress(type="text", name="customer-address" required)
      br
      br
      label(for="contact-email") Contact Email:
      br
      input#contactEmail(type="text", name="contact-email" required)
      br
      br
      label(for="contact-phone") Contact Phone Number:
      br
      input#contactPhone(type="text", name="contact-phone" required)
      br
      br
      label(for="bid-job") Is this a bid job?
      select#yesBox(type="select" name="bid-job" required style="margin-left:6px")
        //- option(value=" - " selected)
        option(value="yes") Yes
        option(value="no") No
      br
      br
      
      label(for="battenInput") Choose a MEGABATTEN to add to quote:
      br
      input#battenInput(list="battensData" name="battenInput" placeHolder="Begin typing to filter list" style="min-width:276px" onfocus='this.value=""')
      datalist#battensData
        each pn in partNumbersList 
          option(value=`${pn}`)

      label(for="battenQty" style="margin-left:6px") Qty: 
      select#battenQty(type="select" name="battenQty" required style="margin-left:6px" )
        - var n = 1;
        while n <= 20
          option(value=`${n}`)= `${n}`
          - n++ 
      br
      button(type="button" onclick="addBatten()" style="margin-top:6px") Add to quote 
      br
      h3 Quote Items:
      ul#battens
        
      
      
  br
  br
  br
  br
  br
  br
  br
  br
  br
  append scripts
    script(src='/javascripts/quote.js')