mixin dmxBoxes(universes, outlet)
  
  //- single box logic -//
  - if (universes === '1')
    include ./svgData/singleSideView
    +singleSideView()    
    
    - if (outlet === 'Z')
      include ./svgData/single3Pin
      +single3Pin()    
    
    - else if (outlet === 'X')
      include ./svgData/single5Pin
      +single5Pin()    
    
    - else if (outlet === 'J')
      include ./svgData/singleRJ45
      +singleRJ45()
  
  
  //- dual box logic -//
  - if (universes === '2')
    include ./svgData/dualSideView
    +dualSideView()    
    
    - if (outlet === 'Z')
      include ./svgData/dual3Pin  
      +dual3Pin()    
    
    - else if (outlet === 'X')
      include ./svgData/dual5Pin  
      +dual5Pin()    
    
    - else if (outlet === 'J')
      include ./svgData/dualRJ45
      +dualRJ45()