mixin endCaps(length, diameter, type, position)
  - var moveX
  - if(length <= 96)
    - moveX = length * 15 - 37.5
  - else if(length > 96)
    - moveX = 1527.5
  
  - if( type === 'R' )
    include ./svgData/rounded 
    g(transform=`translate(${moveX} 0)` )
      +rounded
    - if( type === 'R' && position === 'T' )
      +roundedDouble


  - else if( type === 'F' )
    include ./svgData/flat 
    g(transform=`translate(${moveX} 0)` )
      +flat
    - if( type === 'F' && position === 'T' )
      +flatDouble
      