mixin outlets(type, number)
    //- handle max outlets for drawing if longer than 96" pipe selected
    - var outlets = number  
    - if (number > 6)
      - outlets = 6
    - var xCoord = 56.5
    
    - if (type === 'Z')
      include ./svgData/3pin
      - for( i = 0; i < outlets; i++ )        
        g(transform=`translate(${xCoord + (i * 240)} 229.90)`)
          +3pin()
  
    - else if (type === 'X')
      include ./svgData/5pin
      - for( i = 0; i < outlets; i++ )
        - var xCoord = 56.5        
        g(transform=`translate(${xCoord + (i * 240)} 229.90)`)
          +5pin()
          

    - else if (type === 'J')
      include ./svgData/rj45
      - for( i = 0; i < outlets; i++ )
        - var xCoord = 56.5
        g(transform=`translate(${xCoord + (i * 240)} 229.90)`)
          +rj45()
