mixin powerInputs(type, length, diameter, position)
  - var moveX
  - if(length <= 96)
    - moveX = length * 15
  - if(length > 96)
    - moveX = 1565
  

  //- power input options 
  - if (type === 'S' )
    include ./svgData/socapex
    +S1_1-5()
    
  //- - else if (type === 'S2' )
  //-   include ./svgData/socapex
  //-   include ./svgData/socapexDouble
  //-   +S1_1-5()
  //-   +S2_1-5(moveX)

  - else if (type === 'L')
    include ./svgData/leads
    +L1()
    
  //- - else if (type === 'L2')
  //-   include ./svgData/leads
  //-   include ./svgData/leadsDouble
  //-   +L1()
  //-   +L2(moveX)

  - else if (type === 'W' && position === 'E')
    include ./svgData/whipEnd
    +W1()
    
  //- - else if (type === 'W2')
  //-   include ./svgData/whipEnd
  //-   include ./svgData/whipDouble
  //-   +W1()
  //-   +W2(moveX)

  - else if (type === 'W' && position === 'T')
    include ./svgData/whipTop
    +WT()

  //- conduit box positoin on page relative to length of pipes
  - if (type === 'C')
    include ./svgData/conduitBox
    - if (length === '32')
      +C1(820, 340)
    - else if (length === '48')
      +C1(900, 340)
    - else if (length === '64')
      +C1(1020, 340)
    - else if (length === '80')
      +C1(1138, 340)
    - else if (length === '96')
      +C1(1258, 340)
    - else if (length > 96)
      +C1(1310, 340)